#gantt-container-scroll {
  height: calc(100vh - 120px);
  overflow-y: auto;
  overflow-x: hidden;
}

#gantt-container {
  display: flex;
  flex-direction: row;
  width: 100%;
}

#task-list {
  width: 350px;
  background-color: #ffffff;
  border-right: 2px solid #ed1b2d;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}

.header-row {
  display: flex;
  background-color: #004990;
  font-weight: bold;
  font-size: 16px;
  height: 59px;
  border-bottom: 1px solid #ed1b2d;
  color: #ffffff;
}

.header-cell {
  flex: 1;
  text-align: center;
  line-height: 59px;
  border-right: 1px solid #ed1b2d;
}

#task-rows {
  flex-grow: 1;
}

.task-row {
  display: flex;
  height: 55px;
  border-bottom: 1px solid #ed1b2d;
  font-size: 14px;
  background-color: #ffffff;
  color: #004990;
}

.task-cell {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  color: #004990;
}

#gantt-right {
  flex-grow: 1;
}

#gantt-scroll-container {
  overflow-x: auto;
  overflow-y: hidden;
}

#gantt {
  background-color: white;
}

/* Frise temporelle simulée */
#gantt-fake-axis {
  display: flex;
  background-color: #ffffff;
  color: #004990;
  font-size: 12px;
  height: 30px;
  border-bottom: 1px solid #ed1b2d;
  white-space: nowrap;
  overflow-x: auto;
  overflow-y: hidden;
}

#gantt-fake-axis span {
  display: inline-block;
  min-width: 60px;
  text-align: center;
  padding: 4px 6px;
  font-family: Arial;
  border-right: 1px solid #ed1b2d;
}
