body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #ffffff;
    color: #004990;
}
  
.sticky-container {
    position: sticky;
    top: 0;
    background-color: #ffffff;
    padding: 20px;
    display: flex;
    gap: 20px;
    align-items: center;
    z-index: 1000;
    border-bottom: 1px solid #ed1b2d;
}
  
.dropdown-container {
    display: flex;
    flex-direction: column;
}
  
label {
    font-weight: bold;
    margin-bottom: 10px;
}
  
select {
    width: 220px;
    padding: 8px;
    background-color: #004990;
    color: #ffffff;
    border: 1px solid #ed1b2d;
    border-radius: 4px;
}
  
.add-form {
  position: fixed; /* Reste fixé en bas */
  bottom: 0;
  left: 0;
  width: 100%;
  margin-top: 10px; /* (Peut être retiré car 'bottom: 0' s'en charge) */
  padding: 10px;
  background-color: #ffffff;
  color: #004990;
  box-sizing: border-box; /* Assure que le padding ne déborde pas */
  box-shadow: 0 -2px 5px rgba(0,0,0,0.1); /* Ombre portée vers le haut */
}

.add-form button {
  padding: 5px 10px;
  cursor: pointer;
  background-color: #004990; /* Un gris standard pour les boutons */
  color: #ffffff;
  border: none;
  border-radius: 4px;
}

.add-form button:hover {
  background-color: #ed1b2d; /* Un gris un peu plus foncé au survol */
}
